<!-- wp:template-part {"slug":"header","theme":"influencer-agency","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"alignfull"} -->
<main class="wp-block-group alignfull">

	<!-- wp:pattern {"slug":"influencer-agency/home-banner"} /-->
	<!-- wp:pattern {"slug":"influencer-agency/brand-section"} /-->
	<!-- wp:pattern {"slug":"influencer-agency/choose-us-section"} /-->
	<!-- wp:pattern {"slug":"influencer-agency/meet-influencer"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"influencer-agency","tagName":"footer"} /-->
